<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/main.css" />
    <script src="/public/main.js"></script>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link href="/public/css/all.css" rel="stylesheet" />
    <link href="/public/css/style.css" rel="stylesheet"/>


</head>
<body style="background-color:rgb(21, 71, 146);">
   
   <div class="container">
    <!-- NAVBAR STARTING -->
    <nav class="navbar navbar-expand-lg change-nav d-flex flex-row-reverse">
            
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Meet the Creators</button>
        <span style="padding-right:1rem;"></span>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">About</button>
    </nav>
    <!-- NAVBAR END -->
    <!-- Main Body Start-->
    <div class="break"></div>
    <div class="break"></div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 name">
            <div class="d-flex align-items-center justify-content-center">
                VIDEO GENERATOR
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
    
    <div class="break1"></div>
    
    <!-- Topic Enter start -->
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center justify-content-center">
                <form class="form-inline" action="/summarize" method="post">
                    <input class="form-control mr-sm-2" type="search" placeholder="Input Topic" name="title" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Generate</button>
                </form>
            </div>           
        </div>
        <div class="col-lg-4"></div>
    </div>
    <!-- Topic Enter end -->
    
    <div class="row">
        <div class="col-lg-4 col-md-4"></div>
         <div class="col-lg-4 col-md-4 name1">
                <div class="d-flex align-items-center justify-content-center">
                     Wait Processing......
                </div>
        </div>
        <div class="col-lg-4 col-md-4"></div>
    </div>
    
    <div class="break1"></div>

    <!-- Progress Bar Start -->
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated  " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
                  
        </div>   
        <div class="col-lg-4"></div>
    </div>
    <!-- Progress Bar End -->
    <div class="break1"></div>

    <!-- Downlaod Start -->
    <!-- <div class="row">
        <div class="col-lg-4 col-md-4"></div>
         <div class="col-lg-4 col-md-4 name1">
                <div class="d-flex align-items-center justify-content-center">
                    Your Video is ready to Download.
                </div>
        </div>
        <div class="col-lg-4 col-md-4"></div>
    </div>
    
    <div class="break1"></div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center justify-content-center">
                <form class="form-inline">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">DOWNLOAD</button>
                </form>
            </div>           
        </div>
        <div class="col-lg-4"></div>
    </div> -->
    <!-- Downlaod Start -->
    <!-- Main Body End -->
</div>
</body>
</html>