<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>meet the creators</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We can visualize any of your queries"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/public/main.css" />
    <!-- <script src="/public/main.js"></script> -->

    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link href="/public/css/all.css" rel="stylesheet" />
    <link href="/public/css/style.css" rel="stylesheet"/>


</head>
<body style="background-color:rgb(21, 71, 146);">
   
   <div class="container">
    <!-- NAVBAR STARTING -->
    <nav class="navbar navbar-expand-lg change-nav d-flex flex-row-reverse">
            
            <a class="btn btn-outline-light my-2 my-sm-0" href="/meetcreators">Meet the Creators</a>
            <span style="padding-right:1rem;"></span>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">About</button>
        <span style="padding-right:1rem;"></span>
        <a class="btn btn-outline-light my-2 my-sm-0" href="/" >New</a>  
    </nav>
    <!-- NAVBAR END -->
    <!-- Main Body Start-->
    <div class="break"></div>
    <div class="break"></div>

    <div class="row">
        <div class="col-lg-3 "></div>
        <div class="col-lg-3 ">
            <div class="d-flex align-items-center justify-content-center">
                <figure class="figure">
                    <img src="/public/img/nishant.jpg" class="img-thumbnail" alt="Nishant Subedi">
                    <figcaption class="figure-caption meetcreators1" >Nishant Subedi</figcaption>
                    <figcaption class="figure-caption meetcreators2" >Developer</figcaption>
                </figure>
            </div>
        </div>
        <div class="col-lg-3 ">
            <div class="d-flex align-items-center justify-content-center">
                    <figure class="figure">
                            <img src="/public/img/gagan.jpg" class="img-thumbnail" alt="Gagan Shrestha">
                            <figcaption class="figure-caption meetcreators1" >Gagan Shrestha</figcaption>
                            <figcaption class="figure-caption meetcreators2" >Designer</figcaption>
                    </figure>

            </div>
        </div>
        <div class="col-lg-3 "></div>
    </div>
    <div class="break1"></div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center justify-content-center">
                <form class="form-inline">
                    <a class="btn btn-outline-light my-2 my-sm-0" href="/">GO BACK</a>
                </form>
            </div>           
        </div>
        <div class="col-lg-4"></div>
    </div> 
    
</div>
</body>
</html>