<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>First</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="/public/main.css" />
      <script src="/public/main.js"></script>
  
      <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
      <link href="/public/css/all.css" rel="stylesheet" />
      <link href="/public/css/style.css" rel="stylesheet"/>
  
  
  </head>
  <body style="background-color:rgb(21, 71, 146);">
     <div class="container">
     
      <!-- NAVBAR STARTING -->
      <nav class="navbar navbar-expand-lg change-nav d-flex flex-row-reverse">
              
            <a class="btn btn-outline-light my-2 my-sm-0" href="/meetcreators">Meet the Creators</a>
            <span style="padding-right:1rem;"></span>
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">About</button>
      </nav>
      <!-- NAVBAR END -->
      <!-- Main Body Start-->
      <div class="break"></div>
      <div class="break"></div>
  
      <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 name">
              <div class="d-flex align-items-center justify-content-center">
                <%= title %>
              </div>
          </div>
          <div class="col-lg-3"></div>
      </div>
      <div class="break1"></div>
  
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center justify-content-center">
              <audio controls>
                <source src="/output/<%= selector %>" type="audio/mp3">
              
              Your browser does not support the audio element.
              </audio>
            </div>
        </div>
        <div class="col-lg-4"></div>
      </div>  

      <div class="break1"></div>
      <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
              <div class="d-flex align-items-center justify-content-center">
                  <form class="form-inline">
                      <a class="btn btn-outline-light my-2 my-sm-0" href="/">GO BACK</a>
                  </form>
              </div>           
          </div>
          <div class="col-lg-4"></div>
      </div> 
      
    </div>
  </body>
  </html>