<a href="/">Go Back</a>
<br>
<br>
<h1><%= title %></h1>
<br>
<audio controls>
    <source src="/public/<%= selector %>" type="audio/mp3">
   
  Your browser does not support the audio element.
  </audio>
  <p><%= text %></p>
