.change-nav{
    background-color: rgba(0,0,0,0.05);
}
.btn-outline-light{
    border-color:white;
    color: white; 
}
.break{
    height: 4rem;
}
.break1{
    height: 0.55rem;
}
.name{
    color: white;
    text-align: center;
    font-size: 3.1rem;
}

.form-inline .form-control {
    text-align: center;
    
    width: 14rem;
    vertical-align: middle;
}
.name1{
    color: white;
    text-align: center;
    font-size: 1rem;
}
.size{
    width: 25rem;
}





.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.meetcreators1{
    color: #eee;
    font-size: 1.2rem;
}

.meetcreators2{
    color: #eee;
    font-size: 1rem;
}

.slides {
    height: 24rem;
    width:40rem;
    overflow: hidden;
    background-color: #111;
}
.slides img{
    height: 24rem;
    width:auto;
}
.videonav{
    margin-top:3px;
    /* background-color: rgb(0,0,0); */
    border-style: solid;
    border-width: 1px;
    border-radius:6px;

}



.slidecontainer {
    width: 8rem; /* Width of the outside container */
}

.slidecontainer i{
    font-size: 0.7rem;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 5rem; /* Full-width */
    height: 0.2rem; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 0.4rem; /* Set a specific slider handle width */
    height: 0.8rem; /* Slider handle height */
    /* background: #4CAF50;  */
    background: #ccc; /* Green background */

    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 0.5rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.figure img{
    height: 16rem;
    
}